{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<!-- login -->
<div>
    <form method="POST" action="">
        {% csrf_token %}

        <label>Username</label>
        <input type="text" name="username" placeholder="username">
        
        <label>Password</label>
        <input type="password" name="password" placeholder="password">

        <input type="submit" value='login'>
    </form>
    <p>don't have an account yet?</p>
    <a href="{% url 'register' %}">Sign up</a>
</div>
{% else %}
<!-- register -->
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" value='register'>

    </form>
    <p>alredy have an account yet?</p>
    <a href="{% url 'login' %}">log in</a>
</div>
{% endif %}
{% endblock content %}